@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.header.header_fixed {
  width: 100%;
  position: fixed;
  z-index: 999;
}
.header.header_background {
  background-color: #fff;
}
.header .header__logo {
  color: #161617;
}
.header .header__logo .logo {
  text-decoration: none;
  margin-bottom: 30px;
  line-height: 1.2;
  color: #161617;
  font-size: 1.5em;
  letter-spacing: 5px;
}
@media (max-width: 48em) {
  .header .header__logo .logo {
    font-size: 1.32em;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .header .header__logo .logo {
    font-size: 0.84em;
    text-align: center;
  }
}
.header .header__logo .logo .logo__span-text {
  font-weight: 700;
}
.header .header__menu {
  color: #161617;
}
.header .header__menu .menu__inner {
  display: flex;
  list-style: none;
}
@media (max-width: 48em) {
  .header .header__menu .menu__inner {
    position: absolute;
    right: 0;
    top: 15vh;
    height: 92vh;
    width: 70vw;
    background-color: #002954;
    color: #fff !important;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-direction: column;
    padding-left: 100px;
    transform: translateX(100%);
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
  }
  .header .header__menu .menu__inner.menu__inner_active {
    transform: translateX(0%);
  }
}
.header .header__menu .menu__inner .menu__item {
  margin-left: 30px;
}
@media (max-width: 64em) {
  .header .header__menu .menu__inner .menu__item {
    margin-left: 20px;
  }
}
.header .header__menu .menu__inner .menu__item .menu__link {
  text-decoration: none;
  color: #161617;
  transition: all 0.5s ease-in-out;
  font-weight: 500;
}
@media (max-width: 48em) {
  .header .header__menu .menu__inner .menu__item .menu__link {
    color: #fff;
  }
}
.header .header__menu .menu__inner .menu__item .menu__link:hover {
  color: #002954;
}
@media (max-width: 48em) {
  .header .header__menu .menu__inner .menu__item .menu__link:hover {
    color: #FF9100;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 48em) {
  .header__burger {
    display: inline;
  }
}
.header__burger__line {
  width: 25px;
  height: 3px;
  background-color: #002954;
  margin: 5px;
}

/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  padding: 80px 20px;
  position: relative;
  top: 15vh;
}
@media (min-width: 64em) {
  .hero {
    padding: 80px 50px;
  }
}
.hero__inner {
  width: 100%;
  margin-bottom: 50px;
  margin-bottom: 50px;
}
@media (min-width: 64em) {
  .hero__inner {
    width: 50%;
  }
}
.hero__inner .hero__title {
  margin-bottom: 30px;
  line-height: 1.2;
  color: #161617;
  font-size: 3.375em;
  color: #002954;
}
@media (max-width: 48em) {
  .hero__inner .hero__title {
    font-size: 3em;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .hero__inner .hero__title {
    font-size: 1.9em;
    text-align: center;
  }
}
.hero__inner .hero__title .hero__span {
  color: #FF9100;
}
.hero__inner .hero__description {
  margin-bottom: 30px;
  line-height: 1.2;
  color: #161617;
  font-size: 1.318em;
}
@media (max-width: 48em) {
  .hero__inner .hero__description {
    font-size: 1.16em;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .hero__inner .hero__description {
    font-size: 0.738em;
    text-align: center;
  }
}
.hero__inner .hero__btn {
  margin-bottom: 30px;
}
@media (max-width: 48em) {
  .hero__inner .hero__btn {
    text-align: center;
  }
}
.hero__inner .hero__btn .hero__btn__link {
  color: #fff !important;
  background-color: #002954;
  padding: 10px 25px !important;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #002954;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
}
@media (max-width: 48em) {
  .hero__inner .hero__btn .hero__btn__link {
    font-size: 14px;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .hero__inner .hero__btn .hero__btn__link {
    font-size: 9px;
  }
}
.hero__inner .hero__btn .hero__btn__link:hover {
  color: #fff !important;
  background-color: #FF9100;
  padding: 10px 25px !important;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #FF9100;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (max-width: 48em) {
  .hero__inner .hero__btn .hero__btn__link:hover {
    font-size: 14px;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .hero__inner .hero__btn .hero__btn__link:hover {
    font-size: 9px;
  }
}
.hero__inner .hero__stats {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}
.hero__inner .hero__stats .hero__stats__text {
  margin-bottom: 30px;
  line-height: 1.2;
  color: #161617;
  font-size: 1.318em;
  color: #002954;
  font-weight: 600;
}
@media (max-width: 48em) {
  .hero__inner .hero__stats .hero__stats__text {
    font-size: 1.16em;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .hero__inner .hero__stats .hero__stats__text {
    font-size: 0.738em;
    text-align: center;
  }
}
.hero__inner .hero__stats .hero__stats__text .hero__stats__span {
  margin-bottom: 30px;
  line-height: 1.2;
  color: #161617;
  font-size: 3.375em;
  color: #002954;
  color: #FF9100;
}
@media (max-width: 48em) {
  .hero__inner .hero__stats .hero__stats__text .hero__stats__span {
    font-size: 3em;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .hero__inner .hero__stats .hero__stats__text .hero__stats__span {
    font-size: 1.9em;
    text-align: center;
  }
}
.hero__inner.hero__images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero__inner.hero__images .hero__icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.hero__inner.hero__images .hero__icon-container .hero__icon {
  width: 10%;
}
.hero__inner.hero__images .hero__icon-container .hero__icon_item {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}
.hero__inner.hero__images .hero__icon-container .hero__icon.hero__icon_top {
  transform: translate(10vw, 10vw);
}
.hero__inner.hero__images .hero__icon-container .hero__icon.hero__icon_bottom {
  transform: translate(10vw, -10vw);
}
.hero__inner.hero__images .hero__icon-container .hero__icon.hero__icon_top-right {
  transform: translate(-6vw, 10vw);
}
.hero__inner.hero__images .hero__icon-container .hero__icon.hero__icon_bottom-right {
  transform: translate(-6vw, -10vw);
}
.hero__inner.hero__images .hero__icon-container .hero__icon.hero__icon_top-left {
  transform: translateX(2vw);
}
.hero__inner.hero__images .hero__icon-container .hero__icon.hero__icon_bottom-left {
  transform: translateX(2vw);
}
.hero__inner.hero__images .hero__image {
  width: 40%;
  margin-bottom: 30px;
}
.hero__inner.hero__images .hero__image .hero__image__item {
  order: 1;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  position: relative;
  transform: translate(20px, 20px);
}
.hero__inner.hero__images .hero__image .hero__image__item.hero__image__item_bg {
  position: absolute;
  max-width: 320px;
  transform: translate(100px, 39px);
  z-index: -1;
}

/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  padding: 80px 20px;
  position: relative;
  background-color: #f1f1f1;
}
@media (min-width: 64em) {
  .about {
    padding: 80px 50px;
  }
}
.about .about__inner {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 64em) {
  .about .about__inner {
    width: 50%;
  }
}
.about .about__inner .about__card {
  background-color: #fff;
  padding: 30px;
  width: 80%;
  margin-bottom: 30px;
  border-radius: 10px;
  -webkit-transition: all 0.5 ease-in-out;
  -moz-transition: all 0.5 ease-in-out;
  -ms-transition: all 0.5 ease-in-out;
  -o-transition: all 0.5 ease-in-out;
  transition: all 0.5 ease-in-out;
}
@media (max-width: 48em) {
  .about .about__inner .about__card {
    width: 100%;
    text-align: left !important;
  }
}
.about .about__inner .about__card:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.about .about__inner .about__card .about__card__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.about .about__inner .about__card .about__card__inner .about__card__title {
  margin-bottom: 30px;
  line-height: 1.2;
  color: #161617;
  font-size: 1.5em;
  color: #002954;
}
@media (max-width: 48em) {
  .about .about__inner .about__card .about__card__inner .about__card__title {
    font-size: 1.32em;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .about .about__inner .about__card .about__card__inner .about__card__title {
    font-size: 0.84em;
    text-align: center;
  }
}
.about .about__inner .about__card .about__card__inner .about__card__images {
  width: 10%;
  height: 10%;
}
.about .about__inner .about__card .about__card__description {
  margin-bottom: 30px;
  line-height: 1.2;
  color: #161617;
  font-size: 1.318em;
}
@media (max-width: 48em) {
  .about .about__inner .about__card .about__card__description {
    font-size: 1.16em;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .about .about__inner .about__card .about__card__description {
    font-size: 0.738em;
    text-align: center;
  }
}
@media (max-width: 48em) {
  .about .about__inner .about__card .about__card__description {
    text-align: left;
  }
}
.about .about__inner .about__card .about__card__stats {
  margin-bottom: 30px;
  line-height: 1.2;
  color: #161617;
  font-size: 1.5em;
  color: #002954;
}
@media (max-width: 48em) {
  .about .about__inner .about__card .about__card__stats {
    font-size: 1.32em;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .about .about__inner .about__card .about__card__stats {
    font-size: 0.84em;
    text-align: center;
  }
}
@media (max-width: 48em) {
  .about .about__inner .about__card .about__card__stats {
    text-align: left;
  }
}
.about .about__inner .about__card .about__card__stats .about__card__stats-span {
  color: #FF9100;
  font-weight: 600;
}
.about .about__inner .about__sub-title {
  margin-bottom: 30px;
  line-height: 1.2;
  color: #161617;
  font-size: 1.318em;
  color: #002954;
}
@media (max-width: 48em) {
  .about .about__inner .about__sub-title {
    font-size: 1.16em;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .about .about__inner .about__sub-title {
    font-size: 0.738em;
    text-align: center;
  }
}
.about .about__inner .about__title {
  margin-bottom: 30px;
  line-height: 1.2;
  color: #161617;
  font-size: 2.966em;
  color: #FF9100;
}
@media (max-width: 48em) {
  .about .about__inner .about__title {
    font-size: 2.61em;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .about .about__inner .about__title {
    font-size: 1.66em;
    text-align: center;
  }
}
.about .about__inner .about__quote {
  margin-bottom: 30px;
  line-height: 1.2;
  color: #161617;
  font-size: 1.5em;
  color: #002954;
}
@media (max-width: 48em) {
  .about .about__inner .about__quote {
    font-size: 1.32em;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .about .about__inner .about__quote {
    font-size: 0.84em;
    text-align: center;
  }
}
@media (max-width: 48em) {
  .about .about__inner .about__description {
    text-align: center;
  }
}

/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
.project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 80px 20px;
  position: relative;
}
@media (min-width: 64em) {
  .project {
    padding: 80px 50px;
  }
}
.project .project__inner {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 64em) {
  .project .project__inner {
    width: 50%;
  }
}
.project .project__inner .project__text-inner .project__title {
  margin-bottom: 30px;
  line-height: 1.2;
  color: #161617;
  font-size: 2.966em;
  color: #FF9100;
}
@media (max-width: 48em) {
  .project .project__inner .project__text-inner .project__title {
    font-size: 2.61em;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .project .project__inner .project__text-inner .project__title {
    font-size: 1.66em;
    text-align: center;
  }
}
.project .project__inner .project__text-inner .project__description {
  margin-bottom: 30px;
  line-height: 1.2;
  color: #161617;
  font-size: 1.318em;
  color: #002954;
}
@media (max-width: 48em) {
  .project .project__inner .project__text-inner .project__description {
    font-size: 1.16em;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .project .project__inner .project__text-inner .project__description {
    font-size: 0.738em;
    text-align: center;
  }
}
.project .project__inner .project__card {
  margin-bottom: 30px;
}
.project .project__inner .project__card__content {
  background-color: #002954;
  padding: 30px;
  width: 80%;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 0.7);
}
@media (max-width: 48em) {
  .project .project__inner .project__card__content {
    width: 100%;
    text-align: left !important;
  }
}
.project .project__inner .project__card__content .project__card__images {
  width: 100%;
}
.project .project__inner .project__card__content .project__card__images .project__img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.project .project__inner .project__card__content .project__card__details__item {
  margin-bottom: 30px;
  line-height: 1.2;
  color: #161617;
  font-size: 1.318em;
  color: #fff;
  padding: 30px;
}
@media (max-width: 48em) {
  .project .project__inner .project__card__content .project__card__details__item {
    font-size: 1.16em;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .project .project__inner .project__card__content .project__card__details__item {
    font-size: 0.738em;
    text-align: center;
  }
}
.project .project__inner .project__card__content .project__card__details__item > p {
  margin-bottom: 20px;
}
.project .project__inner .project__card__content .project__card__details__item > p > span {
  color: #FF9100;
}
.project .project__inner .project__card__content .project__card__details__item .project__tech-used > .iconify {
  color: #FF9100;
  font-size: 40px;
  position: relative;
  top: 12px;
}
@media (max-width: 48em) {
  .project .project__inner .project__card__content .project__card__details__item .project__tech-used > .iconify {
    font-size: 35px;
    top: 10px;
  }
}
@media (max-width: 37.5em) {
  .project .project__inner .project__card__content .project__card__details__item .project__tech-used > .iconify {
    font-size: 20px;
    top: 6px;
  }
}
.project .project__inner .project__btn {
  margin-bottom: 30px;
}
@media (max-width: 48em) {
  .project .project__inner .project__btn {
    text-align: center;
  }
}
.project .project__inner .project__btn .project__btn__link {
  color: #fff !important;
  background-color: #002954;
  padding: 10px 25px !important;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #002954;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
}
@media (max-width: 48em) {
  .project .project__inner .project__btn .project__btn__link {
    font-size: 14px;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .project .project__inner .project__btn .project__btn__link {
    font-size: 9px;
  }
}
.project .project__inner .project__btn .project__btn__link:hover {
  color: #fff !important;
  background-color: #FF9100;
  padding: 10px 25px !important;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #FF9100;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (max-width: 48em) {
  .project .project__inner .project__btn .project__btn__link:hover {
    font-size: 14px;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .project .project__inner .project__btn .project__btn__link:hover {
    font-size: 9px;
  }
}

/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  padding: 80px 20px;
  position: relative;
  background-color: #f1f1f1;
}
@media (min-width: 64em) {
  .skills {
    padding: 80px 50px;
  }
}
.skills__inner {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 64em) {
  .skills__inner {
    width: 50%;
  }
}
.skills__inner .skills__title {
  margin-bottom: 30px;
  line-height: 1.2;
  color: #161617;
  font-size: 2.966em;
  color: #FF9100;
}
@media (max-width: 48em) {
  .skills__inner .skills__title {
    font-size: 2.61em;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .skills__inner .skills__title {
    font-size: 1.66em;
    text-align: center;
  }
}
.skills__inner .skills__description {
  margin-bottom: 30px;
  line-height: 1.2;
  color: #161617;
  font-size: 1.318em;
  color: #002954;
}
@media (max-width: 48em) {
  .skills__inner .skills__description {
    font-size: 1.16em;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .skills__inner .skills__description {
    font-size: 0.738em;
    text-align: center;
  }
}
.skills__inner .skills__container {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.skills__inner .skills__container .skills__btn {
  margin-bottom: 30px;
  line-height: 1.2;
  color: #161617;
  font-size: 1.5em;
  margin-bottom: 0;
  color: #fff;
  padding: 1rem 0;
  border: none;
  border-radius: none;
  text-transform: capitalize;
  display: block;
  background: #002954;
  cursor: pointer;
  -webkit-transition: all 0.3 linear;
  -moz-transition: all 0.3 linear;
  -ms-transition: all 0.3 linear;
  -o-transition: all 0.3 linear;
  transition: all 0.3 linear;
  letter-spacing: 0.25rem;
}
@media (max-width: 48em) {
  .skills__inner .skills__container .skills__btn {
    font-size: 1.32em;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .skills__inner .skills__container .skills__btn {
    font-size: 0.84em;
    text-align: center;
  }
}
.skills__inner .skills__container .skills__btn_active {
  background: #FF9100;
  color: #002954;
}
.skills__inner .skills__container .skills__btn:focus {
  outline: none;
}
.skills__inner .skills__container .skills__btn:nth-child(1) {
  border-top-left-radius: 10px;
}
.skills__inner .skills__container .skills__btn:nth-child(3) {
  border-top-right-radius: 10px;
}
.skills__inner .skills__container .skills__btn:hover:not(.active) {
  background: #FF9100;
  color: #002954;
}
.skills__inner .skills__btn_content {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 30px;
  background-color: #fff;
}
.skills__inner .skills__btn_content .content {
  display: none;
}
.skills__inner .skills__btn_content .content.active {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
}
@media (max-width: 48em) {
  .skills__inner .skills__btn_content .content.active {
    grid-template-columns: 1fr 1fr;
  }
}
.skills__inner .skills__btn_content .content .skills__tech {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skills__inner .skills__btn_content .content .skills__tech > .iconify {
  color: #002954;
  font-size: 40px;
  text-align: center;
  position: relative;
}
@media (max-width: 48em) {
  .skills__inner .skills__btn_content .content .skills__tech > .iconify {
    font-size: 35px;
  }
}
@media (max-width: 37.5em) {
  .skills__inner .skills__btn_content .content .skills__tech > .iconify {
    font-size: 20px;
  }
}
.skills__inner .skills__btn_content .content .skills__tech > p {
  margin-bottom: 20px;
  font-weight: 600;
}
.skills__curriculum__code {
  background-color: #002954;
  padding: 30px;
  width: 80%;
  margin-bottom: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  line-height: 1.2;
  color: #161617;
  font-size: 0.63em;
  color: #fff;
}
@media (max-width: 48em) {
  .skills__curriculum__code {
    width: 100%;
    text-align: left !important;
  }
}
@media (max-width: 48em) {
  .skills__curriculum__code {
    font-size: 0.8em;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .skills__curriculum__code {
    font-size: 0.4em;
    text-align: center;
  }
}
.skills__curriculum__span {
  color: #FF9100;
}
.skills__curriculum-btn {
  margin-bottom: 30px;
}
@media (max-width: 48em) {
  .skills__curriculum-btn {
    text-align: center;
  }
}
.skills__curriculum-btn .skills__curriculum-btn__link {
  color: #fff !important;
  background-color: #002954;
  padding: 10px 25px !important;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #002954;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
}
@media (max-width: 48em) {
  .skills__curriculum-btn .skills__curriculum-btn__link {
    font-size: 14px;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .skills__curriculum-btn .skills__curriculum-btn__link {
    font-size: 9px;
  }
}
.skills__curriculum-btn .skills__curriculum-btn__link:hover {
  color: #fff !important;
  background-color: #FF9100;
  padding: 10px 25px !important;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #FF9100;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (max-width: 48em) {
  .skills__curriculum-btn .skills__curriculum-btn__link:hover {
    font-size: 14px;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .skills__curriculum-btn .skills__curriculum-btn__link:hover {
    font-size: 9px;
  }
}

/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  padding: 80px 20px;
  position: relative;
  background-color: #002954;
}
@media (min-width: 64em) {
  .contact {
    padding: 80px 50px;
  }
}
.contact__inner {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 64em) {
  .contact__inner {
    width: 50%;
  }
}
.contact__inner .contact__form-group .contact__input {
  width: 90%;
  margin-bottom: 30px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #002954 !important;
  font-weight: 600;
}
@media (max-width: 48em) {
  .contact__inner .contact__form-group .contact__input {
    width: 100%;
  }
}
.contact__inner .contact__form-group .contact__input:-ms-input-placeholder, .contact__inner .contact__form-group .contact__input::-webkit-input-placeholder, .contact__inner .contact__form-group .contact__input::placeholder {
  color: #002954 !important;
}
.contact__inner .contact__form-group .contact__input:focus, .contact__inner .contact__form-group .contact__input:focus-visible, .contact__inner .contact__form-group .contact__input:focus-within, .contact__inner .contact__form-group .contact__input::-webkit-textfield-decoration-container {
  border: none;
  outline: none;
}
.contact__inner .contact__form-group .contact__input[type=submit] {
  width: 50%;
  color: #fff !important;
  background-color: #FF9100;
  padding: 10px 25px !important;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #FF9100;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (max-width: 48em) {
  .contact__inner .contact__form-group .contact__input[type=submit] {
    font-size: 14px;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .contact__inner .contact__form-group .contact__input[type=submit] {
    font-size: 9px;
  }
}
@media (max-width: 48em) {
  .contact__inner .contact__form-group .contact__input[type=submit] {
    width: 100%;
  }
}
.contact__inner .contact__form-group .contact__select {
  width: 90%;
  margin-bottom: 30px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #002954 !important;
  font-weight: 600;
}
@media (max-width: 48em) {
  .contact__inner .contact__form-group .contact__select {
    width: 100%;
  }
}
.contact__inner .contact__form-group .contact__select:-ms-input-placeholder, .contact__inner .contact__form-group .contact__select::-webkit-input-placeholder, .contact__inner .contact__form-group .contact__select::placeholder {
  color: #002954 !important;
}
.contact__inner .contact__form-group .contact__select:focus, .contact__inner .contact__form-group .contact__select:focus-visible, .contact__inner .contact__form-group .contact__select:focus-within, .contact__inner .contact__form-group .contact__select::-webkit-textfield-decoration-container {
  border: none;
  outline: none;
}
.contact__inner .contact__form-group .contact__select[type=submit] {
  width: 50%;
  color: #fff !important;
  background-color: #FF9100;
  padding: 10px 25px !important;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #FF9100;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (max-width: 48em) {
  .contact__inner .contact__form-group .contact__select[type=submit] {
    font-size: 14px;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .contact__inner .contact__form-group .contact__select[type=submit] {
    font-size: 9px;
  }
}
@media (max-width: 48em) {
  .contact__inner .contact__form-group .contact__select[type=submit] {
    width: 100%;
  }
}
.contact__inner .contact__title {
  margin-bottom: 30px;
  line-height: 1.2;
  color: #161617;
  font-size: 2.966em;
  color: #FF9100;
}
@media (max-width: 48em) {
  .contact__inner .contact__title {
    font-size: 2.61em;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .contact__inner .contact__title {
    font-size: 1.66em;
    text-align: center;
  }
}
.contact__inner .contact__description {
  margin-bottom: 30px;
  line-height: 1.2;
  color: #161617;
  font-size: 1.318em;
  color: #fff;
}
@media (max-width: 48em) {
  .contact__inner .contact__description {
    font-size: 1.16em;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .contact__inner .contact__description {
    font-size: 0.738em;
    text-align: center;
  }
}
.contact__inner .contact__social-network {
  margin-bottom: 20px;
}
@media (max-width: 48em) {
  .contact__inner .contact__social-network {
    text-align: center;
  }
}
.contact__inner .contact__social-network .social-network__icons {
  text-decoration: none;
}
.contact__inner .contact__social-network .social-network__icons .social-network__icon {
  font-size: 40px;
  margin-right: 10px;
  color: #fff;
}
.contact__inner .contact__social-network .social-network__icons .social-network__icon:hover {
  color: #FF9100;
}
.contact__inner .contact__address {
  margin-bottom: 30px;
  line-height: 1.2;
  color: #161617;
  font-size: 1.318em;
  color: #fff;
}
@media (max-width: 48em) {
  .contact__inner .contact__address {
    font-size: 1.16em;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .contact__inner .contact__address {
    font-size: 0.738em;
    text-align: center;
  }
}
.contact__inner .contact__address__item {
  margin-bottom: 20px;
}
.contact__inner .contact__address__item > a {
  text-decoration: none;
  color: #fff;
  font-style: normal;
}
.contact__inner .contact__address__icon {
  font-size: 40px;
  position: relative;
  top: 12px;
  margin-right: 12px;
}

/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #161617;
  color: #fff;
  padding: 80px 50px;
  text-align: center;
}
.footer__quote {
  margin-bottom: 30px;
  line-height: 1.2;
  color: #161617;
  font-size: 1.5em;
  color: #fff;
}
@media (max-width: 48em) {
  .footer__quote {
    font-size: 1.32em;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .footer__quote {
    font-size: 0.84em;
    text-align: center;
  }
}
.footer__rights__content > span {
  color: #FF9100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
