@import "../utils/colors",
"../utils/_font",
"../utils/mixins/buttons",
"../utils/mixins/heading",
"../utils/mixins/breakpoint",
"../utils/mixins/grid",
"../utils/mixins/image",
"../utils/mixins/position",
"../utils/mixins/input",
"../utils/mixins/transitions";
.contact {
    @include section(wrap-reverse);
    background-color: $primaryColor;
    &__inner {
        @include grid(half);
        .contact__form-group {
            .contact__input {
                @include inputField;
            }
            .contact__select {
                @include inputField;
            }
        }
        .contact__title {
            @include heading-2;
            color: $secondaryColor;
        }
        .contact__description {
            @include heading-4;
            color: $whiteColor;
        }
        .contact__social-network {
            margin-bottom: 20px;
            @include breakpoint(phablet) {
                text-align: center
            }
            .social-network__icons {
                @include link;
                .social-network__icon {
                    font-size: 40px;
                    margin-right: 10px;
                    color: $whiteColor;
                    &:hover {
                        color: $secondaryColor;
                    }
                }
            }
        }
        .contact__address {
            @include heading-4;
            color: $whiteColor;
            &__item {
                margin-bottom: 20px;
                >a {
                    @include link;
                    color: $whiteColor;
                    font-style: normal;
                }
            }
            &__icon {
                font-size: 40px;
                position: relative;
                top: 12px;
                margin-right: 12px;
            }
        }
    }
}