@import "../utils/colors",
"../utils/_font",
"../utils/mixins/buttons",
"../utils/mixins/heading",
"../utils/mixins/breakpoint",
"../utils/mixins/grid",
"../utils/mixins/image",
"../utils/mixins/position",
"../utils/mixins/card",
"../utils/mixins/transitions";
.project {
    @include section(wrap);
    .project__inner {
        @include grid(half);
        .project__text-inner {
            .project__title {
                @include heading-2;
                color: $secondaryColor;
            }
            .project__description {
                @include heading-4;
                color: $primaryColor;
            }
        }
        .project__card {
            margin-bottom: 30px;
            &__content {
                @include card($primaryColor);
                padding: 0;
                border: 1px solid rgba($color: #fff, $alpha: .7);
                .project__card__images {
                    width: 100%;
                    .project__img {
                        @include image;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                    }
                }
                .project__card__details {
                    &__item {
                        @include heading-4;
                        color: $whiteColor;
                        padding: 30px;
                        >p {
                            margin-bottom: 20px;
                            >span {
                                color: $secondaryColor;
                            }
                        }
                        .project__tech-used {
                            >.iconify {
                                color: $secondaryColor;
                                font-size: 40px;
                                position: relative;
                                top: 12px;
                                @include breakpoint(phablet) {
                                    font-size: 35px;
                                    top: 10px;
                                }
                                @include breakpoint(mobileonly) {
                                    font-size: 20px;
                                    top: 6px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .project__btn {
            margin-bottom: 30px;
            @include breakpoint(phablet) {
                text-align: center;
            }
            .project__btn__link {
                @include button($primaryColor, $whiteColor);
                @include link;
                &:hover {
                    @include button($secondaryColor, $whiteColor)
                }
            }
        }
    }
}