@import "../colors",
"../font",
"./breakpoint";
@mixin card($background) {
    background-color: $background;
    padding: 30px;
    width: 80%;
    margin-bottom: 30px;
    border-radius: 10px;
    @include breakpoint(phablet) {
        width: 100%;
        text-align: left !important;
    }
}