@mixin flex($justify-content:baseline, $align-item:baseline, $direction:column) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-item;
    flex-direction: $direction;
}