@import "breakpoint.scss";
@mixin grid($percent) {
    @if $percent==quarter {
        width: 100%;
        @include breakpoint(phablet) {
            margin-bottom: 50px;
            width: 50%;
        }
        @include breakpoint(laptop) {
            width: 25%;
        }
    }
    @else if $percent==third {
        width: 100%;
        margin-bottom: 50px;
        @include breakpoint(laptop) {
            width: calc(100% / 3);
        }
    }
    @else if $percent==half {
        width: 100%;
        margin-bottom: 50px;
        @include breakpoint(laptop) {
            width: 50%;
        }
    }
    @else if $percent==full {
        width: 100%;
        margin-bottom: 50px;
    }
}