@import "../_colors",
"./breakpoint";
@mixin heading {
    margin-bottom: 30px;
    line-height: 1.2;
    color: $textColor;
}

@mixin heading-1 {
    @include heading;
    @include breakpoint(phablet) {
        font-size: 3em;
        text-align: center;
    }
    @include breakpoint(mobileonly) {
        font-size: 1.9em;
        text-align: center;
    }
    font-size: 3.375em;
    color: $primaryColor;
}

@mixin heading-2 {
    @include heading;
    font-size: 2.966em;
    @include breakpoint(phablet) {
        font-size: 2.610em;
        text-align: center;
    }
    @include breakpoint(mobileonly) {
        font-size: 1.660em;
        text-align: center;
    }
}

@mixin heading-3 {
    @include heading;
    font-size: 1.5em;
    @include breakpoint(phablet) {
        font-size: 1.32em;
        text-align: center;
    }
    @include breakpoint(mobileonly) {
        font-size: 0.84em;
        text-align: center;
    }
}

@mixin heading-4 {
    @include heading;
    font-size: 1.318em;
    @include breakpoint(phablet) {
        font-size: 1.160em;
        text-align: center;
    }
    @include breakpoint(mobileonly) {
        font-size: 0.738em;
        text-align: center;
    }
}

@mixin heading-5 {
    @include heading;
    font-size: 1em;
    @include breakpoint(phablet) {
        font-size: 0.88em;
        text-align: center;
    }
    @include breakpoint(mobileonly) {
        font-size: 0.56em;
        text-align: center;
    }
}

@mixin heading-6 {
    @include heading;
    font-size: 0.63em;
    @include breakpoint(phablet) {
        font-size: 0.8em;
        text-align: center;
    }
    @include breakpoint(mobileonly) {
        font-size: 0.4em;
        text-align: center;
    }
}

@mixin link {
    text-decoration: none;
}

@mixin list {
    list-style: none;
}

@mixin text-shorten {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}