@import "../colors",
"../font",
"./buttons";
@mixin inputField {
    width: 90%;
    margin-bottom: 30px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: $primaryColor !important;
    font-weight: 600;
    @include breakpoint(phablet) {
        width: 100%;
    }
    &:-ms-input-placeholder,
    &::-webkit-input-placeholder,
    &::placeholder {
        color: $primaryColor !important;
    }
    &:focus,
    &:focus-visible,
    &:focus-within,
    &::-webkit-textfield-decoration-container {
        border: none;
        outline: none;
    }
    &[type="submit"] {
        width: 50%;
        @include button($secondaryColor, $whiteColor);
        @include breakpoint(phablet) {
            width: 100%;
        }
    }
}