@import "./breakpoint";
@mixin section($wrap, $flexDirection: row) {
    display: flex;
    flex-direction: $flexDirection;
    flex-wrap: $wrap;
    padding: 80px 20px;
    position: relative;
    @include breakpoint(laptop) {
        padding: 80px 50px;
    }
}